@mixin position-ab($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  margin: 0 auto;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin position-ab-center1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-ab-center2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin form-style-reset {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

@mixin bg-contain($path) {
  background-image: image-url($path);
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin solid-before {
  &::before {
    display: block;
    content: '';
    @content;
  }
}

@mixin solid-after {
  &::after {
    display: block;
    content: '';
    @content;
  }
}

@mixin hide-text {
  span {
    display: none;
  }
}

// component -----
@mixin button-component($color: #000) {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $color;
  color: $color;
  text-decoration: none;
  padding: 10px 30px;

  &:hover {
    color: #fff;
    background-color: $color;
  }
}
